@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-family: 'Oswald', sans-serif;
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 300;
}

header {
    margin: auto;
    margin-top: 2.5rem;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.line {
    border: 0.4rem solid rgb(2, 2, 142);
    width: 90%;
    margin: auto;
}

main {
    background-color: rgba(187, 187, 187, 0.2);
    margin-top: 2rem;
    width= 100%;
}

.content {
    margin-top: 3rem ;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

.lists {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
}

.headings {
    font-family: 'Oswald', sans-serif;
    color: rgb(2, 2, 142);
    font-size: 3em;
}

.footer{
    height: 2rem;
}


